<Configuration status="INFO">
    <Appenders>
        <File name="file" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>


    <Loggers>
        <Root level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>